@import url(https://fonts.googleapis.com/css?family=Italiana:regular$display-swap);


*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box
}
a {
    text-decoration: none;
}
html, body {
    background-image: url(../images/bg_image/pexels-mudassir-ali-2680270.jpg);
    height: 100%;
    min-width: 320px;
}
body{
    line-height: 1;
    font-family: Italiana;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}
h1 {
    color: #cbb431d6;
    margin-left: 20px;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    padding: 20px
}
.descr__text {
    font: italic 1em Georgia; 
    color:rgb(23, 109, 109);
    margin: 1em -46px 1em;
    display: flex;
    align-items: center;
    padding: 0 100px; 
}
.descr__text__left-block{
    display: flex;
    width: 520px;
    flex-direction: column;
    text-align: start;
}
.descr__text__right-block{
    margin: -22em 161px -5em;
    display: flex;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 152px;
    min-width: 320px;
    padding: 0 5%;
}
.header__left-block {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
}
.header__logo {
    max-width: 170px;
}
.header__logo {
    max-width: 170px;
}
.header__logo img {
    width: 100%
}
.header__links {
    display: flex;
    align-items: center;
}
.header__link {
    position: relative;
    margin-right: 45px;
    font-weight: 700;
    font-size: 18px;
    color: #cbb431d6;
}
.header__link:hover {
    text-decoration:underline;
}
.header__link:after {
    content: '';
    position: absolute;
    display: block;
    width: 110%;
    left: -5%;
    bottom: -1px;
    z-index: 0;
    height: 2px;
    background-color: rgba(186, 236, 24, 0.19);
}
.header__link:last-child {
    position: relative;
    margin-right: 45px;
    font-weight: 700;
    font-size: 18px;
    color: #cbb431d6;
}

.header__right-block {
    color: #FFFFFF;
}

.btn {
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 4 px 15 px rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: .3s all;
    outline: 0;
    color: #FFFFFF
}
.btn_white {
    background-color: rgb(57 45 45 / 52%);
}
.btn_brown {
    background-color:rgb(57 45 45 / 52%);
    color: #fff;
    border: none
}
.btn:hover{
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3)
}

.columnmenu {
    position: fixed;
    left: 8px;
    top: 240px;
    height: 400px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}


.columnmenu__descr {
    width: 120px;
    height: 120px;
    font-size: 14px;
    color:#b0b142
}

.columnmenu__descr span {
    display: flex;
    transform: rotate(-90deg) translateX(-50px);
}

.columnmenu__descr {
    width: 120px;
    height: 120px;
    font-size: 14px;
    color:#b0b142
}

.columnmenu__descr__dispenser {
    width: 1px;
    height: 165px;
    background-color: #b0b142;
}
.columnmenu__icon {
    width: 24px;
    height: 24px;
}
.columnmenu__icon img {
    width: 100%;
    color: #FFD500;
}

.promo {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 320px
}
.promo__menu {
    width: 300px;
    height: 75%;
    background: rgb(57 45 45 / 52%);
    padding: 60px 0 0 10px
}
.promo__menu-item {
    display: block;
    font-size: 18px;
    line-height: 33px;
    color: #D6D9DC;
    text-decoration: none;
    font-weight: 300;
    padding-left: 40px;
    margin-top: 18px
}
.promo__menu-item:hover {
    color: #FFD500
}
.promo__menu-item_active {
    border-left: 2px solid #FFD500;
    color: #FFD500
}
.promo__content {
    width: calc(100% - 600px)
}
.promo__bg {
    height: 375px;
    background: url(../images/scicily-beach-1684.600.jpg) center center/cover no-repeat;
    background-position: top;
    padding: 107px 0 0 61px
}
.promo__genre {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase
}
.promo__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    text-transform: uppercase
}
.promo__descr {
    width: 481px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase
}
.promo__ratings {
    margin-top: 13px
}
.promo__ratings span {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFD500;
    margin-right: 25px
}
.promo__interactive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.promo__interactive>div {
    width: 50%;
    padding: 30px 0 0 60px
}
.promo__interactive-title {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000
}
.promo__interactive-title:after {
    content: '';
    display: block;
    width: 33%;
    height: 2px;
    background-color: #000
}
.promo__interactive-list {
    list-style-type: none;
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.promo__interactive-item {
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 15px;
    padding-right: 40px;
    text-transform: uppercase
}
.promo__interactive-item span {
    display: block;
    position: absolute;
    left: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../icons/Star.svg") center center/cover no-repeat
}
.promo__interactive-item:before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: calc(100% - 40px);
    height: 2px;
    background-color: #FFD500
}
.promo__interactive-item:hover .delete {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../icons/trash.png") center center/cover no-repeat;
    cursor: pointer
}
.promo__interactive .add .promo__interactive-title {
    margin-bottom: 25px
}
.promo__interactive .add span {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000
}
.promo__interactive .add .yes {
    display: inline;
    margin-left: 10px
}
.promo__interactive .add input[type="text"] {
    width: 270px;
    height: 45px;
    line-height: 50px;
    font-size: 16px;
    background: rgba(196, 196, 196, 0.29);
    border: 1px solid rgba(0, 0, 0, 0.19);
    padding: 0 15px;
    outline: none;
    border-radius: 4px
}
.promo__interactive .add input[type="text"]::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.53)
}
.promo__interactive .add input[type="text"]:-ms-input-placeholder {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.53)
}
.promo__interactive .add input[type="text"]::-ms-input-placeholder {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.53)
}
.promo__interactive .add input[type="text"]::placeholder {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.53)
}
.promo__interactive .add button {
    display: block;
    margin-top: 15px;
    width: 170px;
    height: 45px;
    background: #FFD500;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer
}
.promo__interactive .add button:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95)
}
.promo__adv {
    background: rgb(57 45 45 / 52%);
    width: 300px;
    height: 75%
}
.promo__adv-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFD500;
    margin: 20px 0;
    text-align: center
}
.promo__adv img {
    width: 100%;
    margin-bottom: 10px
}
.dispenser{
    width: 330px;
    height: 1px;
    margin: 0 auto;
    background-color:rgb(204 204 214 / 71%)
}

.descr__text__left-block {
    margin: 19px 80px 10px 10px;
    color:rgb(61 34 34 / 70%);
}

.descr__text__left-block h2 {
    padding: 10px 0px 25px 5px;
}

.descr__text__left-block .under_section {
    padding: 10px 0px 25px 5px;
    margin-top: auto;
}
.descr__text__left-block .under_section>p {
    padding: 10px 0px 25px 5px;
}


.places_to_visit {
    padding: 70px 0 100px 0;
    position: relative;
}
.places_to_visit .container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.places_to_visit .bg_color {
    position: absolute;
    width: 1109px;
    height: 780px;
    background: rgba(243, 255, 222, .45);
    z-index: -1;
    top: 50px
}
.places_to_visit__text {
    width: 580px;
}
.places_to_visit__variety {
    font-size: 18px;
    margin-top: 30px;
    font-weight: 300;
    line-height: 24px;
}
.places_to_visit__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.places_to_visit__musthave {
    width: 330px;
    margin-top: 50px;
}
.places_to_visit__musthave h2 {
    font-weight: 700;
    font-size: 20px;
    color:rgb(0 0 0 / 80%);
    margin: 0px 5px;
}
.offer__advantages-text {
    margin: 10px;
}

/*Weather vidget*/
.weather_wrapper {
    width: 240px;
    height: 225px;
}
.weather {
    background-color:rgba(243, 255, 222, .45);
    border-radius: 10px;
    padding: 5px;
    max-width: 225px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.weather__loading {
    display: flex;
    justify-content: center;
    align-items: center 
}
.weather__loading img {
    max-width: 50px;
}
.weather__header {
    display: flex;
}
.weather__main {
    flex: 1 1 auto;
}
.weather__city {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.weather__status {
    font-size: 15px;
    margin-bottom: 20px;
}
.weather__body {}
.weather__icon {}
.weather__temp {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.weather__feels-like {}
.weather__temp::after,
.weather__feels-like::after {
    display: inline-block;
    margin-left: 5px;
    content: "°C";
}

/*Slick-Slider*/
.my-slider{
    width: 650px;
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    /* position: relative;
    padding: 35px 400px; */
}

#tns1-ow.tns-outer{
    overflow: hidden;
    width: 75%;
    margin: -257px 0px 0px 20px;
    /* box-shadow: 0 4px 30px rgb(0 0 0 / 25%); */
}

/* #tns1-iw {
    margin: -288px -20px 0px 62px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
} */
 /* margin-top: 0px;
    margin-left: 7px;
    padding: -20px 20px */

.tns-controls {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px
}
.tns-liveregion.tns-visually-hidden {
    display: none;
}

/* .my-slider  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal{
    transform: translate3d(-28.5714%, -554px, 0px);
} */
.slider__item{
    display: flex;
    margin: 0 auto;
    max-height: 650px;
    width: 3%;
    object-fit: contain;
}
.slider__item img{
    width: 75%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
}

.footer {
    min-height: 180px;
    background-color: rgb(57 45 45 / 52%);
    padding: 45px 0 50px 0;
    color: #fff;
}
.footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.footer .subtitle {
    font-size: 20px;
}
.footer .link {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
}
.footer .call {
    text-align: right;
}